<form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn btn-danger btn-lg fz-5">supprimer</button>
</form>
