{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
<div class="row d-flex flex-column align-items-center justify-content-center">
    <h1>éditer l'événement</h1>
    <br />
    {{ include('event/_form.html.twig', {'button_label': 'MAJ'}) }}

    <div class="mb-3">
    {{ include('event/_delete_form.html.twig') }}
    </div>
        <a href="{{ path('app_event_index') }}" class="btn btn-secondary btn-lg">retour à l'agenda</a>
    <script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy'
        }).each(function () {
        let value = $(this).val();
        if (value) {
            $(this).datepicker('update', value);
        }
    });
    });
    </script>
{% endblock %}
