{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>éditer l'événement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'MAJ'}) }}

    <a href="{{ path('app_event_index') }}">retour à l'agenda</a>
    {# <a href="{{ path('app_event_index') }}">back to list</a> #}

    {{ include('event/_delete_form.html.twig') }}
    <script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy'
        }).each(function () {
        let value = $(this).val();
        if (value) {
            $(this).datepicker('update', value);
        }
    });
    });
    </script>
{% endblock %}
