{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
<div class="row d-flex flex-column align-items-center justify-content-center">
{# <div class="row justify-content-center"> #}
    <h1>Créer un nouvel événement</h1>
    <br />
{# <div class="mb-3"> #}
    {{ include('event/_form.html.twig') }}
    {# </div> #}
        <a href="{{ path('app_event_index') }}" class="btn btn-secondary btn-lg">retour à l'agenda</a>
</div>
{% endblock %}
{% block script %}
<script>
 $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true
        });
    });
    </script>
{% endblock %}
